extends layout

block content
    .container.post-container.post-page
        // beg of container
        .panel.panel-default
            .panel-heading 发布招领启事
            .panel-body
                form(action='#', method='POST')
                    // beg of form
                    .form-group
                        label(for='title') 请输入标题
                        input#title.form-control(name='title', type='text', placeholder="标题要能体现启事的重要内容, 如'昨天在饭堂捡到天堂伞'")
                    .form-group
                        label(for='detail') 请输入详情
                        textarea#detail.form-control(name='detail', type='text', placeholder='请输入启事的详细内容', rows='4')
                    .form-group
                        label.control-label 启事类别
                        .form-control
                            label.radio-inline
                                input.radio-inline(type='radio', name='lost-or-found')
                                |  找东西
                            label.radio-inline
                                input.radio-inline(type='radio', name='lost-or-found')
                                |  找失主
                    .form-group
                        label(for='type') 物品类别
                        select.form-control(name='', id='')
                    input.btn.btn-primary(type='submit', value='发布')