extends layout

block content
    .container.main-container.post-list-page
        .panel.panel-default.side-newest-panel
            .panel-heading
                h3.panel-title 启事列表
            .list-group
                each post in posts
                    a.list-group-item(href='localhost:3000/post-detail?userId=#{post._id}')
                        h4.list-group-item-heading
                            | #{post.title}
                        p #{post.detail}
                        p.text-right
                            | #{post.updated}
                .list-group-item
                    nav
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a(href='#') 5
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
